.active-link {
    font-weight: bold;
    color: red;
  }
.text{
   text-decoration: none; 
   color: cadetblue;
}
.textaa{
   text-decoration: none; 
   color: black;
   font-weight: 700;
}
.texta{
  text-decoration: none;
  background-color: darkgray;
  color: black;
  
}